# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
      args: ['--unsafe']
    - id: check-added-large-files
- repo: https://github.com/psf/black
  rev: 25.11.0
  hooks:
    - id: black
- repo: https://github.com/pycqa/isort
  rev: 7.0.0
  hooks:
    - id: isort
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: bash -c 'poetry run pylint'
      args:
        - ssmbak/
        - tests/
      language: system
      require_serial: true
      pass_filenames: false
      always_run: true
      stages: [pre-push]
    - id: mypy
      name: mypy
      entry: bash -c 'poetry run mypy'
      language: system
      args: [ssmbak]
      pass_filenames: false
      always_run: true
      stages: [pre-push]
- repo: https://github.com/python-poetry/poetry
  rev: 2.2.1
  hooks:
    - id: poetry-check
    - id: poetry-lock
    - id: poetry-install
