# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
      args: ['--unsafe']
    - id: check-added-large-files
- repo: https://github.com/psf/black
  rev: 25.11.0
  hooks:
    - id: black
- repo: https://github.com/pycqa/isort
  rev: 7.0.0
  hooks:
    - id: isort
- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      require_serial: true
      stages: [push]
    - id: mypy
      name: mypy
      entry: mypy
      language: system
      types: [python]
      pass_filenames: false
      stages: [push]
- repo: https://github.com/python-poetry/poetry
  rev: 2.2.1
  hooks:
    - id: poetry-check
    - id: poetry-lock
    - id: poetry-install
